@using ProniaBB207.Core.Models
@model Slider
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="DeleteSlider" method="post" class="card" style="width: 18rem;">
                <img src="~/uploads/sliders/@Model.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <h6 class="card-title">@Model.Subtitle</h6>
                    <p class="card-text">@Model.Description</p>
                    <input asp-for="@Model.Id" hidden value="@Model.Id" />
                    <a asp-action="index" asp-controller="slider" class="btn btn-warning">Go Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>